<div
  class="ui-input-shell"
  [class]="wrapperClass"
  [ngClass]="{
    'has-start-icon': icon,
    'has-end-icon': endIcon
  }"
>

  <!-- LEFT ICON -->
  <div *ngIf="icon" class="ui-input-icon">
    <i [class]="icon"></i>
  </div>

  <!-- INPUT -->
  <tui-textfield
    class="ui-textfield"
    tuiTextfieldAppearance="textfield"
    [tuiTextfieldCleaner]="false"
  >
    <input
      tuiInput
      class="ui-input-control"
      [ngClass]="inputClass"
      [type]="type"
      [name]="name || null"
      [placeholder]="placeholder"
      [value]="value"
      [required]="required"
      [disabled]="disabled"
      [readOnly]="readonly"
      [autocomplete]="autocomplete || null"
      [inputMode]="inputMode || null"
      [attr.aria-label]="ariaLabel || placeholder || null"
      (input)="onInput($event)"
    />
  </tui-textfield>

  <!-- RIGHT ICON -->
  <button
    *ngIf="endIcon"
    type="button"
    class="ui-input-action"
    (click)="endIconClick.emit()"
  >
    <i [class]="endIcon"></i>
  </button>

</div>
